
/* 
  #F8F7FF - White
  #102542 - Dark dark blue
  #F87060 - Pop Orange
  #495867 - Greyish
  #577399 - Mute blue
*/

.App {
  margin: 0 10%;
  
}

body {
  background: rgb(0, 0, 0);
  color: white;
  margin: 0px;
  overflow: scroll;
  
}

iframe{
  width: 80%;  
  
}
ol li{
  font-weight: 500;
}
#top{
  margin-top: 10%;
}

.info-blade{
  min-height: 100%;
  padding: 6% 0 0 0;
}

h1{
  color: #60ddf3;
  text-align: center;
  font-weight: 500;
}

h3,h5{
  color: rgb(221, 59, 41);
  
}

h4{
  margin: 3em 0;
  color: rgb(243, 74, 55);
}

p{
  font-family: 'Merriweather', serif;
  font-size: 1.3em;
  font-weight: 300;
  margin: 1.5em 0;
  
}